/* http://desarrolloweb.dlsi.ua.es/libros/html-css/como-crear-una-hoja-de-estilo-para-impresion */

/* https://escss.blogspot.com.ar/2012/05/estilos-css-para-imprimir-la-regla-page.html */

/* http://jsfiddle.net/mturjak/2wk6Q/1949/ */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#image-1 {
  max-height: 80%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@page {
  size: A3;
  margin: auto;
  page-break-inside: avoid !important;
}
