body {
  padding-top: 70px;
}

/* ===== grid-item ===== */

.grid {
  width: 100%;
  margin: auto;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  padding: 0em 0em 2em 0em;
}

.grid-item {
  float: left;
  background: #f2f2f2;
  width: 24%;
  margin: 0em 0.5% 0.5em 0.5%;
  border: 2px solid #333;
  border-radius: 5px;
}

.grid-item:hover {
  border-color: white;
  cursor: pointer;
}

/* ===== FIN GRID ITEM ===== */

/* ======= GALLERY POSES ====== */

.thumbnail {
  margin-bottom: 0px;
}

.thumb {
  position: relative;
  margin-bottom: 1em !important;
  padding: 0 !important;
}

.modal {
  top: 10%;
  z-index: 3000;
}

#btnModal {
  margin-top: 10px !important;
}

label {
  color: #fff;
}

h3 {
  font-size: 17px;
  margin-top: 0px;
}

/* ======= FIN GALLERY POSES ====== */

@media (min-width: 299px) and (max-width: 992px) {
  .grid-item {
    float: left;
    background: #f2f2f2;
    width: 30%;
    margin: 0em 1% 1.5em 2%;
    border: 2px solid #333;
    border-radius: 5px;
  }
  h1 {
    font-size: xx-large;
  }
  h3 {
    font-size: 11px;
    margin-top: 0px !important;
  }
  p {
    font-size: 10px;
    text-align: justify;
    margin: 0 0 10px;
  }
  form .btn {
    padding: 2px 4px !important;
    margin-bottom: 2px !important;
  }
}
